NODE_ENV=production
PORT={PORT}
MONGO_URI={MONGO_URI}
SESSION_SECRET={SESSION_SECRET}
DISCORD_CLIENT_ID={DISCORD_CLIENT_ID}
DISCORD_CLIENT_SECRET={DISCORD_CLIENT_SECRET}
CLIENT_APP_URL={CLIENT_APP_URL}
ADMIN={ADMIN}